GEOCODE REMAINING STUDIOS USING GOOGLE MAPS API 

DO NOT RUN WITHOUT VALID API AND COST CONTROLS

In [10]:
import pandas as pd
import gc
import ast  # Import ast for literal evaluation

releases = pd.read_csv(r"C:\Users\maxmo\Dropbox\GDS\Dissertation\discogs\data\releases_v2.csv")

# Unnest the recorded_at column
releases['recorded_at'] = releases['recorded_at'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
releases = releases.explode('recorded_at')

# Rename recorded_at to recorded_id
releases.rename(columns={'recorded_at': 'recorded_id'}, inplace=True)

counts = releases['recorded_id'].value_counts()

del releases
gc.collect()

18843

In [11]:
counts

recorded_id
217694     16572
274478     15805
304319     12430
264021     10792
266828     10031
           ...
943803         1
1032799        1
1032784        1
1032821        1
3996801        1
Name: count, Length: 305557, dtype: int64

In [12]:
to_geocode = pd.read_csv(r"C:\Users\maxmo\Dropbox\GDS\Dissertation\discogs\data\geocoded_MISSINGS.csv")
already_coded = pd.read_csv(r"C:\Users\maxmo\Dropbox\GDS\Dissertation\discogs\data\studios_gmaps_geocoded.csv")

In [13]:
print("already_coded columns:", already_coded.columns.tolist())
print("to_geocode columns:", to_geocode.columns.tolist())

already_coded columns: ['Unnamed: 0', 'Contact Info', 'recorded_id', 'Name', 'profile', 'text_block', 'current', 'obsolete', 'YEAR', 'regex_profile_location', 'latitude', 'longitude', 'reg_prof_latitude', 'reg_prof_longitude', 'contactinfo_has_po_box', 'countries', 'cities', 'contactinfo_countries', 'contactinfo_cities']
to_geocode columns: ['Contact Info', 'recorded_id', 'Name', 'profile', 'text_block', 'current', 'obsolete', 'YEAR', 'regex_profile_location', 'latitude', 'longitude', 'reg_prof_latitude', 'reg_prof_longitude']

In [14]:
# Merge to_geocode with counts on 'recorded_at'
merged = to_geocode.merge(counts.rename('count'), left_on='recorded_id', right_index=True, how='inner')

# Eliminate rows where 'recorded_at' is already in already_coded
original_num = len(merged)
filtered = merged[~merged['recorded_id'].isin(already_coded['recorded_id'])]
filtered_out_num = original_num - len(filtered)
new_num = len(filtered)

print(f"Original number: {original_num}")
print(f"Filtered out: {filtered_out_num}")
print(f"New number: {new_num}")

Original number: 11148
Filtered out: 1382
New number: 9766

In [15]:
filtered.head()

,Contact Info,recorded_id,Name,profile,text_block,current,obsolete,YEAR,regex_profile_location,latitude,longitude,reg_prof_latitude,reg_prof_longitude,count
1,Monroe Production Co \r\nRecording Studios (Of...,273564.0,Monroe Production Co,There were a handful of labels (ie Sound Entit...,Recording Studios (Office & Administration)\nA...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,37
2,PO Box 276\r\nWorcester\r\nWR5 2XJ\r\nUK\r\n\r...,82234.0,Planet µ,[a=Mike Paradinas]' home studio.,PO Box 276\nWorcester\nWR5 2XJ\nUK,0,0,NaN,NaN,NaN,NaN,NaN,NaN,18
5,Waschhaus Potsdam gGmbH\r\nSchiffbauergasse 6\...,399130.0,Waschhaus,The Waschhaus is the largest nightclub of the ...,Potsdam gGmbH\nSchiffbauergasse 6\n14467 Potsdam,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5
8,"ADDRESS\r\nLondon, Hoxton\r\nSweden, Malmø\r\n...",276867.0,The Instrument,Recording studio with branches in London and M...,"London, Hoxton\nSweden, Malmø\nUK : +44 7950 1...",0,0,NaN,NaN,NaN,NaN,NaN,NaN,106
9,Recording Studio Tomorrow's Music\r\nRue du Fo...,434037.0,Tomorrow's Music Studio,"Recording studio, located in Comines-Warneton,...",Recording Studio Tomorrow's Music\nRue du Fort...,0,0,NaN,"Comines-Warneton, Belgium (EU)",NaN,NaN,NaN,NaN,53

In [16]:
df = filtered.nlargest(6000, 'count')
print("Smallest count in top 6000:", df['count'].min())
print(type(df))

Smallest count in top 6000: 2
<class 'pandas.core.frame.DataFrame'>

In [17]:
API_KEY = "AIzaSyDBjnRJa2NPD-EByzFEu33NUQOTLZLCyD4"

import googlemaps
gmaps = googlemaps.Client(key=API_KEY)

In [ ]:
import time

# Set up output file paths
output_path = r"C:\Users\maxmo\Dropbox\GDS\Dissertation\discogs\data\studios_gmaps_geocoded_new.csv"
uncoded_path = r"C:\Users\maxmo\Dropbox\GDS\Dissertation\discogs\data\explorations\studios_gmaps_uncoded_v2.csv"

# Prepare columns for results
df['latitude'] = None
df['longitude'] = None

# Limiter
max_calls =0 #previously set to 6000 - do not run any more to avoid costs
calls = 0

for idx, row in df.iterrows():
    if calls >= max_calls:
        print("API call limit reached.")
        break
    address = row['text_block']
    if not address or not isinstance(address, str):
        print(f"Invalid address for row {idx}. Skipping...")
        continue
    try:
        geocode_result = gmaps.geocode(address)
        if geocode_result:
            location = geocode_result[0]['geometry']['location']
            df.at[idx, 'latitude'] = location['lat']
            df.at[idx, 'longitude'] = location['lng']
        calls += 1
        time.sleep(0.2)  # polite delay
    except Exception as e:
        print(f"Error geocoding row {idx}: {e}")

In [19]:
geocoded = df#[df['latitude'].notnull() & df['longitude'].notnull()]
uncoded = df[df['latitude'].isnull() | df['longitude'].isnull()]

geocoded.to_csv(output_path, index=False)
uncoded.to_csv(uncoded_path, index=False)

In [20]:
final_geocoded = pd.concat([already_coded, geocoded], ignore_index=True)
final_geocoded

,Unnamed: 0,Contact Info,recorded_id,Name,profile,text_block,current,obsolete,YEAR,regex_profile_location,latitude,longitude,reg_prof_latitude,reg_prof_longitude,contactinfo_has_po_box,countries,cities,contactinfo_countries,contactinfo_cities,count
0,0.0,GEWANDHAUS ZU LEIPZIG\r\nEigenbetrieb der Stad...,385926.0,Gewandhaus,"Concert hall in Leipzig, Germany, the home of ...",ZU LEIPZIG\nEigenbetrieb der Stadt Leipzig\nG...,0,0,NaN,NaN,51.337816,12.380383,NaN,NaN,False,['Germany'],['Leipzig'],['Germany'],['Leipzig'],NaN
1,1.0,GEWANDHAUS ZU LEIPZIG\r\nEigenbetrieb der Stad...,385926.0,Gewandhaus,"Concert hall in Leipzig, Germany, the home of ...",E-Mail: gwhdir[at].de,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False,['Germany'],['Leipzig'],['Germany'],['Leipzig'],NaN
2,9.0,Kulturzentrum Lindlar\r\nWilhelm-Breidenbach-W...,338816.0,"Kulturzentrum, Lindlar",Cultural center and venue of the City of Lindl...,Kulturzentrum Lindlar\nWilhelm-Breidenbach-Weg...,0,0,NaN,NaN,51.015323,7.371514,NaN,NaN,False,['Germany'],['Lindlar'],['Germany'],['Lindlar'],NaN
3,10.0,Kulturzentrum Lindlar\r\nWilhelm-Breidenbach-W...,338816.0,"Kulturzentrum, Lindlar",Cultural center and venue of the City of Lindl...,E-Mail: info(at)lindlar.de,0,0,NaN,NaN,51.018859,7.37655,NaN,NaN,False,['Germany'],['Lindlar'],['Germany'],['Lindlar'],NaN
4,13.0,"75 Kingsway Street, London",263916.0,Kingsway Hall,"The Kingsway Hall, Holborn, London, built in 1...","75 Kingsway Street, London",0,0,NaN,NaN,51.517443,-0.120094,NaN,NaN,False,[],"['London', 'Mission']",[],['London'],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7493,NaN,PO BOX 3000 Bern 14 switzerland\r\nfon/fax ++4...,515.0,Axodya,Swiss Techno / Electro / Acid label managed by...,PO BOX 3000 Bern 14 switzerland,0,0,NaN,NaN,46.947974,7.447447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
7494,NaN,Liquid Groove \r\n49 Bleeker St Suite 604\r\nN...,3655.0,Liquid Groove,House music label run by [a65035].,49 Bleeker St Suite 604\nNew York NY. 10012,0,0,NaN,NaN,40.725905,-73.994278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
7495,NaN,Antler-Subway Records\r\nPlace de Jamblinne de...,2526.0,Antler-Subway,"Belgian label, created in 1989 by the merger o...",Records\nPlace de Jamblinne de Meux 27\n1030 ...,0,0,NaN,NaN,50.847847,4.394698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
7496,NaN,Antler-Subway Records\r\nPlace de Jamblinne de...,2526.0,Antler-Subway,"Belgian label, created in 1989 by the merger o...",J. Tielemansstraat 38\n3220 Aarschot\nBelgium,0,0,NaN,NaN,50.924858,4.78615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
7497,NaN,"2-16 Maruyama-cho\r\nShibuya-ku, Tokyo 150-004...",635101.0,"Womb, Tokyo",Live music club in Tokyo that opened in April ...,"2-16 Maruyama-cho\nShibuya-ku, Tokyo 150-0044,...",0,0,NaN,NaN,35.658304,139.695028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [23]:

OUTPATH = r"C:\Users\maxmo\Dropbox\GDS\Dissertation\discogs\data\gmaps_final.csv"
final_geocoded.to_csv(OUTPATH)